body{
  background-image: url('../images/money.jpg');


}

#container{
  margin: 100px auto;
  text-align: center;
  padding: 50px 5px;
  max-width: 35%;
  border: 2px #000 double;
  border-radius: 5px;
  background-color: #e2947c;

}


.options{
  padding: 20px;


}

form input[type="button"]{
  padding: 20px 50px;
  border: 2px #f2bf7d solid;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #f2bf7d

}

input[type="text"]:focus{
  border: 3px #02f768 solid;
  background-color: #f2bf7d;

}

form input[type="text"]{
  font-style


}
